*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    /* background-color: #7CA1C4; */
    /* background-color: aliceblue; */
    background-color: #ffc;
}

/* 共同的設定 */
nav, footer{
    background-color: #fafafa;
    color: #969696;
}

nav li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #969696;
}

/* navbar */
nav{
    height: 80px;
    padding: 5px 200px;
}

.logo img{
    width: 70px;
}

nav ul{
    margin-bottom: 0px;
}

nav ul a{
    margin-right: 20px;
    font-weight: bolder;
}

nav ul a:nth-child(6){
    position: relative;
}

nav i{
    font-size: 18px;
}

nav .bi-person-circle::after{
    position: absolute;
    content: '▼';
    margin-top: 3px;
    margin-left: 10px;
    transform: rotate(233deg);
    font-size: 14px;
}

/* main */
main{
    width: 100%;
    min-height: 34vh;
}

form{
    width: 400px;
    /* height: 500px; */
    margin: 30px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* border: 1px solid #000; */
    background-color: blanchedalmond;
    box-shadow: 5px 5px 10px 3px #ccc;
}

form h2{
    font-size: 30px;
    font-weight: bolder;
}

form label{
    font-size: 20px;
    margin-top: 10px;
}

form input, form textarea{
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

form input{
    padding-left: 20px;
    height: 40px;
}

form #date{
    padding: 0px 20px;
}

form textarea{
    padding-left: 10px;
}

form button{
    border: 0px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 0px;
    background-color: #2177f3;
    color: #fff;
    /* letter-spacing: 20px; */
}

/* footer */
footer{
    padding: 160px 200px 20px 200px;
}

footer div:nth-child(5){
    margin-right: 0px;
}

footer ul{
    padding-left: 0px;
}

footer .conpany{
    /* width: 240px; */
    width: 23%;
    padding-right: 68px;
    /* margin-right: 50px; */
    color: #000;
    font-weight: bolder;
}

footer .conpany p{
    font-size: 20px;
}

footer .conpany span{
    font-size: 14px;
}

footer .link{
    width: 17.9%;
}

footer .copyright{
    margin-top: 140px;
    width: 75%;
}

footer .social-media{
    margin-top: 140px;
    width: 25%;
}

footer .social-media a{
    margin-right: 10px;
}
