/* header */
.progress-block{
    border-bottom: 1px solid #ccc;
}

.progress{
    width: 180px;
    margin-top: 20px;
}

.progress-title{
    width: auto;
    padding: 0px 30px;
    text-align: center;
    margin-right: 10px;
}

.progress-title div{
    margin: 0px auto 10px;
}

.step{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    background-color: #e9ecef;
}

.step1, .step2, .step3, .step4{
    background-color: #198754;
    color: #fff;
}

/* cart-detail */
.cart-detail img{
    width: 200px;
    height: 150px;
    object-fit: fill;
    border: 1px solid #a0a0a0;
}


/* footer */
.cart-footer{
    margin-top: 80px;
}

.count, .subtotal, .fee, .total{
    color: #aaa;
}

.cart-footer .btn-white:hover{
    color: #fff !important;
    background-color: #0b5ed7;
}

.cart-footer .btn-primary{
    width: 150px;
}
