/* header */
.progress-block{
    border-bottom: 1px solid #ccc;
}

.progress{
    width: 180px;
    margin-top: 20px;
}

.progress-title{
    width: 120px;
    text-align: center;
    margin-right: 10px;
}

.progress-title div{
    margin: 0px auto 10px;
}

.step{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    background-color: #e9ecef;
}

.step1{
    background-color: #198754;
    color: #fff;
}

/* cart-detail */
/* .produc-info{
    padding-top: 30px;
} */

.cart-detail img{
    width: 200px;
    height: 150px;
    object-fit: fill;
    border: 1px solid #a0a0a0;
}

.cart-detail p{
    font-weight: bolder;
    font-size: 20px;
}

.cart-detail span{
    color: #a0a0a0;
    font-size: 18px;
}

.minus, .plus{
    width: 25px;
}

.cart-detail input{
    width: 55px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #a0a0a0;
    text-align: center;
}

.cart-detail .price{
    color: #000;
    display: inline-block;
    min-width: 100px;
    text-align: end;
}

/* footer */
.cart-footer{
    margin-top: 80px;
}

.count, .subtotal, .fee, .total{
    color: #aaa;
}

.cart-footer .btn-primary{
    width: 140px;
}
